* {
  margin: 0;
}
body {
  font-family: 'Merriweather', serif;
  background: #F2F1E8;
  color: #131511;
}
a {
  color: #968772;
}
a:hover, a:visited {
  color: #967343;
}
#siteHeader {
  width: 100%;
  /*margin-top: -40px; /* FIXME: places the header bar flush with the top of the screen */*/
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  position: fixed;
}
#headLogo {
  height: 45px;
  margin-left: 15px;
}
#siteHeader nav {
  flex-basis: 100%;
  margin-left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#siteHeader nav a {
  padding: 24px 30px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #2B2F26;
}
#siteHeader nav a:hover {
  color: #CD5D67;
}
#siteHeader nav a:active {
  color: #968772;
}
#siteHeader .current {
  color: #968772;
}

/*

  Splash title

*/
#logoSplash {
  margin: 0 auto;
  padding: 120px 0 60px;
  text-align: center;
  color: #131511;
}
h1 {
  font-family: 'Merriweather', serif;
  font-size: 4em;
  font-weight: 400;
}
#logoSplash p {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 300;
  margin-top: 10px;
}

/*

  Footer style

*/
footer {
  width: 100%;
  padding: 40px 0;
  background: #2b2f26;
}
footer p {
  margin: 0 32px;
  color: #EFF1E8;
  font-size: 1.2em;
  font-weight: 300;
}
