/*
  Google Fonts

  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
}
body {
  font-family: 'Merriweather', serif;
  background: #F2F1E8;
}
a {
  color: #ADA6A3;
}
a:hover, a:visited {
  color: #333D39;
}
#siteHeader {
  width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
}
#headLogo {
  height: 45px;
  margin-left: 15px;
}
#siteHeader nav {
  flex-basis: 100%;
  margin-left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#siteHeader nav a {
  padding: 24px 30px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #333D39;
}
#siteHeader nav a:hover, #siteHeader nav a:visited {
  color: #ADA6A3;
}

/*

  Splash title

*/
#logoSplash {
  margin: 40px auto;
  text-align: center;
  color: #131511;
}
h1 {
  font-family: 'Merriweather', serif;
  font-size: 4em;
  font-weight: 400;
}
#logoSplash p {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 300;
  margin-top: 10px;
}

/*

  Fun grid array on index.html

*/
#productGridUl {
  padding: 0;
  margin: 0 10px 10px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.productGrid {
  flex: 1;
  flex-basis: 20%;
  overflow: hidden;
  height: 350px;
  margin: 0.5%;
}
.productGrid h3 {
  background: #2b2f26;
  color: #F0E9C8;
  padding: 10px;
  font-size: 1em;
  font-weight: 300;
  float: left;
  position: relative;
  z-index: 5;
  margin-top: -60px;
}
.flex1 {
  flex: 1;
  flex-basis: 19%;
}
.flex2 {
  flex: 2;
  flex-basis: 39%;
}
.flex3 {
  flex: 3;
  flex-basis: 59%;
}
.short {
  height: 250px;
}
.productGrid img {
  width: 100%;
  height: 100%;
  /*object-fit: contain;*/
}

/*

  Footer style

*/
footer {
  width: 100%;
  padding: 40px 0;
  background: #2b2f26;
}
footer p {
  margin: 0 32px;
  color: #EFF1E8;
  font-size: 1.2em;
  font-weight: 300;
}

/*

  About Page

*/
.aboutWrapper {
  width: 70%;
  margin: 0 auto;
}
.imgFloatLeft {
  float: left;
  margin: 0 30px 20px 0;
  width: 20%;
}
.aboutWrapper p {
  font-size: 1.25em;
  line-height: 2em;
}
blockquote {
  clear: both;
  line-height: normal;
  border-left: 2px solid #968772;
  margin: 30px 0;
  padding: 5px 30px;
  font-size: 1.25em;
  line-height: 2em;
  font-style: italic;
  font-weight: 300;
}
.pictureWindow {
  width: 100%;
  margin: 50px 0;
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 100px 0;
}
#windowAbout {
  background: url('images/background-3.jpg') center center;
  background-size: cover;
}
h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 2em;
  margin-top: 20px;
}
.aboutSide {
  float: right;
  width: 20%;
  margin: 20px 30px;
  font-size: 0.8em;
  line-height: 200%;
  color: rgba(0, 0, 0, 0.8);
}
aside img {
  width: 100%;
}
table {
  width: 80%;
  font-size: 1.25em;
  margin: 10px 0 50px;
}
table, th, td {
  border: 1px solid #2B2F26;
  border-collapse: collapse;
  padding: 15px;
}
th {
  font-weight: 400;
}
table tr:nth-child(even) {
  background-color: #F2EADC;
}

/*

  Newsletter Page

*/
#newsWindow {
  background: url('./images/background-2.jpg') center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100%;
}
#newsForm {
  flex-basis: 45%;
  background-color: white;
  padding: 40px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#newsForm h4 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}
#newsForm p {
  font-size: 1.15em;
  margin: 30px 0 20px;
}
#newsForm input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  border: 0;
}
#newsForm input[type=text], #newsForm input[type=email] {
  width: 100%;
  padding: 10px 0 5px;
  margin: 20px 0;
  color: #666;
  border-bottom: 2px solid #968772;
}
#newsFormSubmit {
  text-align: center;
  margin: 10px auto 0;
  padding: 15px 30px;
  background-color: #968772;
  color: #f2f1e8;
}
